<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.rating %></p>
<%= cl_image_tag @restaurant.photo.key %>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
<%end %>
<%= link_to 'back', restaurant_path %>
<%= link_to 'edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'are you sure'}%>
<%= link_to 'add review', new_restaurant_review_path(@restaurant) %>
